{% load static vite compress ds_utils %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% vite %}
    {% vite 'c3ds/static/css/base.scss' %}
    {% vite 'core/ts/main.ts' 'core/ts/clock.ts' %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'ds2026/fonts/fonts.css' %}">
    {% endcompress %}
    <title>{% block title %}c3ds{% block title-extra %}{% endblock %}{% endblock %}</title>
</head>
<body class="layout-{{ layout_mode|default:'normal' }} {% block body_class %}{% endblock %}" {% block body_extra %}{% endblock %}{% if display %}data-display-slug="{{ display.slug }}" data-content-version="{{ display_version|default:'' }}"{% endif %}>
{% block body %}
    {% if layout_mode|default:'normal' != 'fullscreen' %}
        <div class="frame layout-frame">
            {% if layout_mode|default:'normal' == 'normal' %}
            <div class="header-bar header-height">
                <div class="clock text-container"  id="clock" data-day-zero="{{ event.day_zero }}">
                    <p class="time-label mb-2">Tag <span class="font-numbers">69</span></p>
                    <p class="time-display font-numbers">13:37</p>
                </div>
                <div class="header-grow">
                    {% block header %}<h1 class="headline {{ header_text_extra_classes | default:'' }}">{% block header_text %}{% endblock %}</h1>{% endblock %}
                </div>
                <div class="logo-container">
                    <h1 class="logo-text logo">
                        <span class="block">{% logo_text %}</span>
                        <span class="block year">2026</span>
                    </h1>
                </div>
            </div>
            {% endif %}
            <div class="bg-bg grow content-area">
    {% endif %}
                {% block content %}{% endblock %}
    {% if layout_mode|default:'normal' != 'fullscreen' %}
            </div>
        </div>
    {% endif %} 
{% endblock %}
</body>
</html>
